<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.androidtest.austin"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="8" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" >
        <activity
            android:name="com.androidtest.austin.MenuActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.androidtest.austin.StartingActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.androidtest.austin.STARTINGACTIVITY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.androidtest.austin.Preferences"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.androidtest.austin.PREFERENCES" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.androidtest.austin.PauseMenuActivity"
            android:label="Paused" 
            android:theme="@android:style/Theme.Dialog">
            <intent-filter>
                <action android:name="com.androidtest.austin.PAUSEMENU" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.androidtest.austin.ResetDialogActivity"
            android:label="Reset?" 
            android:theme="@android:style/Theme.Dialog">
            <intent-filter>
                <action android:name="com.androidtest.austin.RESETACTIVITY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.androidtest.austin.LevelSelectActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.androidtest.austin.LEVELSELECT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>
